

<div class="input_form">
    <h2>Log In</h2>
    </br>

    <%= form_tag login_path do %>
        <%= label_tag :email, nil, :class => 'form-label input' %>
        <%= email_field_tag :email, nil, :class => 'form-control input' %>

        <%= label_tag :password, nil, :class => 'form-label input' %>
        <%= password_field_tag :password, nil, :class => 'form-control input' %>
        </br>
        <p>Don't have an accout? <%= link_to "Sign up", new_user_path %></p>
        </br>
        <%= submit_tag "Sign in", :class => "btn btn-outline-secondary input" %>
    <% end %>
</div>
