<h1> All rents</h1>
<%= link_to "Click Here", new_rent_path %> to add a new property for rent


<h4>Search for rent</h4>
<div class='search'>
    <%= form_tag(rents_search_path, :method => 'get') do %>
        Min: <%= number_field_tag(:min, params[:min], :class => "form-control search_input", :placeholder => "100.0")  %>
        Max:<%= number_field_tag(:max, params[:max], :class => "form-control search_input", :placeholder => "100.0")  %>
        </br>
        <%= submit_tag ("search"), :class => "btn btn-outline-secondary" %>        
    <% end  %>
</div>



<div class="row">
    <% @rents.each do |rent| %>        
        <div class="index_image_card">
            <ul>
                <%= cl_image_tag(rent.image, :class => 'index_image') %>
                <li>Address:<%= link_to rent.address, rent %></li>
                <li>Price: $<%=  rent.price %> per week</li>
            </ul>
        </div>

    <% end %>
</div>  




<div class='clickHere'>
<%= link_to "Click Here", new_rent_path %> to add a new property for rent
</div>