<h1> All rents</h1>
<%= link_to "Click Here", new_rent_path %> to add a new property for rent


<h4>Search for rent</h4>
    <%= form_tag(rents_search_path, :method => 'get') do %>
        <%= number_field_tag(:min, params[:min])  %>
        <%= number_field_tag(:max, params[:max])  %>
        <%= submit_tag ("search") %>        
    <% end  %>

    
<% @rents.each do |rent| %>
    
    
    <ul>
        <%= cl_image_tag(rent.image, :class => 'index_image') %>
        <li>Address:<%= link_to rent.address, rent %></li>
        <li>Price: $<%=  rent.price %></li>

    </ul>

<% end %>



<%= link_to "Click Here", new_rent_path %> to add a new property for rent