<h1><%= @rent.address %></h1>

<!-- image tag here-->

<ul>
    <li>Address:<%=  @rent.address %></li>
    <li>Price: $<%=  @rent.price %></li>
    <li>Room: <%= @rent.room %></li>
    <li>Bath:<%= @rent.bath %></li>
    <li>Type:<%= @rent.property %></li>
    <li>Avaliable date: <%= @rent.available.strftime '%a, %B %e, %Y' %></li>
    <% if @rent.agent.present? %>
        <li>Posted by: <%= link_to @rent.agent.title, @rent.agent %></li>
    <% end %>

    <% if @rent.created_at.present? %>
        <li> Created at: <%= @rent.created_at.strftime '%a, %B %e, %Y, %H:%M %P %Z' %></li>
    <% end %>

    <% if @rent.created_at.present? %>
        <li>Updated at: <%= @rent.updated_at.strftime '%a, %B %e, %Y, %H:%M %P %Z' %></li>
    <% end %>
</ul>

<div><%= cl_image_tag(@rent.image, :class => 'show_image') %></div>
    



<div>
    <%= link_to "Edit property", edit_rent_path(@rent) %>
    <%= link_to "Delete property", @rent, :method => 'delete', :data => {:confirm => "Are you sure?"} %>
    <%= link_to 'Back', rents_path %>
</div>