<h1>RealEstate</h1>


<% if @current_user.present? %>
<h2>
    Welcome <%= @current_user.name %> <%= @current_user.family %>
    <p>If you have a RealEstate, you can register it <%= link_to 'here', new_agent_path %></p>
</h2>
    <% if @current_user.rents.present?%>
        Here is the list of property you posted for rent: 
            <%  @current_user.rents.each do |rent| %>
                <li><%= link_to rent.address, rent %></li>
            <% end %>
        
    <% end %>

    <% if @current_user.sells.present?%>
        Here is the list of property you posted for sell: 
            <%  @current_user.sells.each do |sell| %>
                <li><%= link_to sell.address, sell %></li>
            <% end %>
    <% end %>

<% end %>

