<h1> All sells</h1>

<h4>Search for rent</h4>
    <%= form_tag(sells_search_path, :method => 'get') do %>
        <%= number_field_tag(:min, params[:min])  %>
        <%= number_field_tag(:max, params[:max])  %>
        <%= submit_tag ("search") %>        
    <% end  %>


<%= link_to "Click here", new_sell_path %> to add a new property for sell

<% @sells.each do |sell| %>
    <!-- Image tag here -->
    
    <ul>
        <li>Address:<%= link_to sell.address, sell %></li>
        <li>Price: $<%=  sell.price %></li>

    </ul>

<% end %>

<%= link_to "Click here", new_sell_path %> to add a new property for sell
