<h1> All sells</h1>
<%= link_to "Click here", new_sell_path %> to add a new property for sell



<h4>Search for sell</h4>
<div class='search'>
    <%= form_tag(sells_search_path, :method => 'get') do %>
        Min:<%= number_field_tag(:min, params[:min], :class => "form-control search_input", :placeholder => "1000000")  %>
        Max:<%= number_field_tag(:max, params[:max], :class => "form-control search_input", :placeholder => "1000000")  %>
        </br>
        <%= submit_tag ("search"), :class => "btn btn-outline-secondary" %>        
    <% end  %>
</div>

<div class="row">
    <% @sells.each do |sell| %>
        <div class="index_image_card">
            <ul>
                <%= cl_image_tag(sell.image, :class => 'index_image') %>
                <li>Address:<%= link_to sell.address, sell %></li>
                <li>Price: $<%= number_to_human sell.price %></li>
            </ul>
        </div>
    <% end %>
</div>

<div class='clickHere'>
<%= link_to "Click here", new_sell_path %> to add a new property for sell
</div>